In [ ]:
# Machine learning
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# For data manipulation
import pandas as pd
import numpy as np

# To plot
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# Read the csv file using read_csv
# method of pandas
df = pd.read_csv('RELI.csv')
df

           Date   Open   High    Low  Close  Adj Close   Volume
0    2021-08-18  2.860  2.970  2.708  2.800      2.800    50600
1    2021-08-19  2.800  2.800  2.500  2.540      2.540    52000
2    2021-08-20  2.740  2.740  2.600  2.680      2.680    12200
3    2021-08-23  2.780  3.037  2.780  2.970      2.970    23300
4    2021-08-24  2.990  2.990  2.811  2.910      2.910     5600
..          ...    ...    ...    ...    ...        ...      ...
248  2022-08-12  0.900  1.090  0.893  1.080      1.080  2766900
249  2022-08-15  0.989  1.140  0.950  0.970      0.970  2545200
250  2022-08-16  0.988  0.988  0.880  0.922      0.922  1319600
251  2022-08-17  0.890  0.900  0.840  0.880      0.880   820000
252  2022-08-18  0.880  0.940  0.880  0.919      0.919   477500

[253 rows x 7 columns]

In [ ]:
# Changes The Date column as index columns
df.index = pd.to_datetime(df['Date'])
df

# drop The original date column
df = df.drop(['Date'], axis='columns')
df

             Open   High    Low  Close  Adj Close   Volume
Date
2021-08-18  2.860  2.970  2.708  2.800      2.800    50600
2021-08-19  2.800  2.800  2.500  2.540      2.540    52000
2021-08-20  2.740  2.740  2.600  2.680      2.680    12200
2021-08-23  2.780  3.037  2.780  2.970      2.970    23300
2021-08-24  2.990  2.990  2.811  2.910      2.910     5600
...           ...    ...    ...    ...        ...      ...
2022-08-12  0.900  1.090  0.893  1.080      1.080  2766900
2022-08-15  0.989  1.140  0.950  0.970      0.970  2545200
2022-08-16  0.988  0.988  0.880  0.922      0.922  1319600
2022-08-17  0.890  0.900  0.840  0.880      0.880   820000
2022-08-18  0.880  0.940  0.880  0.919      0.919   477500

[253 rows x 6 columns]

In [ ]:
# Create predictor variables
df['Open-Close'] = df.Open - df.Close
df['High-Low'] = df.High - df.Low

# Store all predictor variables in a variable X
X = df[['Open-Close', 'High-Low']]
X.head()

            Open-Close  High-Low
Date
2021-08-18        0.06     0.262
2021-08-19        0.26     0.300
2021-08-20        0.06     0.140
2021-08-23       -0.19     0.257
2021-08-24        0.08     0.179

In [ ]:
# Target variables
y = np.where(df['Close'].shift(-1) > df['Close'], 1, 0)
y

array([0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0])

In [ ]:
split_percentage = 0.1
split = int(split_percentage*len(df))

# Train data set
X_train = X[:split]
y_train = y[:split]

# Test data set
X_test = X[split:]
y_test = y[split:]

In [ ]:
# Support vector classifier
cls = SVC().fit(X_train, y_train)

In [ ]:
classi_pred=cls.predict(X_test)
print(accuracy_score(y_test,classi_pred)*100)

49.122807017543856